.home {
  height: 100%;
  width: 100%;
}

.tasks {
  height: inherit;
  /* width: 100vw */
  display: flex;
  justify-content: center;
}

.home-tasks-table {
  height: 60%;
  width: 60%;
}

.completed-column {
  width: 10%;
}

.time-spent-column {
  width: 35%;
}
