.home {
  width: 100%;
}

.home-container {
  display: flex;
  flex-direction: column;
}

.date-container {
  padding-bottom: 60px;
  min-width: 40%;
  align-self: center;
}

.date-interface-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-width: 400px !important;
}

.date-button {
  display: flex;
  align-content: center;
  align-items: center;
  flex-basis: 8%;
}

.date-button-area {
  height: 100%;
}

.date-display-container {
  flex-basis: 70%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
}

.date-picker {
  display: absolute;
  height: 0 !important;
  border-radius: 4px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.date {
  margin-bottom: 5px;
}

.tasks {
  display: flex;
  justify-content: center;
}

.date-picker-display-container {
  display: flex;
  justify-content: center;
}

.date-picker-display {
  height: 304px;
  width: 320px;
}

.home-tasks-table {
  width: 60%;
  z-index: -1;
}

.completed-column {
  width: 10%;
}

.time-spent-column {
  width: 35%;
}
